<template>
    <div>
        <div class="flex justify-center">
            <div class="text-3xl text-green-500 cursor-pointer" @click="show">
                <i class="icon ion-md-add"></i>
            </div>
        </div>

        <modal :name="id" :pivotX="0.65" height="auto">
            <!--<div class="p-8 h-full flex flex-col justify-between">-->
                <!--<div>-->
                    <!--<h3 class="mb-4 text-2xl">{{day}}</h3>-->
                    <!--<modal-filter @select="setRecipe" :recipe="title" :list="recipes"></modal-filter>-->
                <!--</div>-->

                <!--{{ title }}-->

                <!--<div class="w-full flex justify-between">-->
                    <!--<div class="btn-primary" @click="saveRecipe">Save</div>-->


                    <!--<div class="inline-flex rounded-md shadow cursor-pointer">-->
                        <!--<div @click="clear" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-400 focus:outline-none focus:shadow-outline-blue active:bg-gray-50 active:text-indigo-700 transition duration-150 ease-in-out">-->
                            <!--Clear-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">

                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            Select a Recipe
                        </h3>
                        <div class="mt-2 w-1/2">
                            <modal-filter @select="setRecipe" :recipe="title" :list="recipes"></modal-filter>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 p-4 sm:px-6 sm:py-4 sm:flex sm:flex-row-reverse">
                  <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                    <button @click="clear" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                      Clear
                    </button>
                  </span>
                    <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                        <button @click="saveRecipe" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                          Save
                        </button>
                  </span>
            </div>
        </modal>
    </div>
</template>

<script>
    import ModalFilter from './ModalFilter';
    import _ from 'lodash';

    export default {
        name: "AddDay",
        components: { ModalFilter },
        props: ['day', 'recipes'],
        data(){
            return {
                recipe: {}
            }
        },
        methods: {
            show () {
                this.$modal.show(this.id);
            },
            hide () {
                this.$modal.hide(this.id);
            },
            saveRecipe(){
                if(!_.isEmpty(this.recipe)){
                    this.$emit('setRecipe', this.recipe);
                }

                this.hide();
            },
            setRecipe(val){
                this.recipe = val;
            },
            clear(){
                this.recipe = {};
                this.$modal.hide(this.id);
                this.$emit('clearRecipe');
            }
        },
        computed: {
            id(){
                return 'modal' + this._uid;
            },
            title(){
                if(this.recipe){
                    return this.recipe.title
                }

                return {}
            }
        }
    }
</script>

<style scoped>

</style>
