<template>
    <div class="flex items-center">
        <div class="mr-4">Start Date:</div>
        <datepicker :value="date" :format="customFormatter" @selected="selectDate"></datepicker>
    </div>
</template>

<script>
    import moment from 'moment'
    export default {
        name: "DatePicker",
        data(){
            return {
                date: new Date()
            }
        },
        methods: {
            customFormatter(date) {
                return moment(date).format('dddd DD/MM/YY');
            },
            selectDate(val){
                this.$store.dispatch('planner/setStartDate', val);
            }
        }

    }
</script>

<style scoped>

</style>
