<template>
    <div class="flex justify-around bg-white rounded border border-gray-400 overflow-hidden relative max-w-md">

        <div>
            <div class="w-1/4 h-full absolute top-0 border-r"></div>
            <div class="w-2/4 h-full absolute top-0 border-r"></div>
            <div class="w-3/4 h-full absolute top-0 border-r"></div>
        </div>
        <div class="w-1/4 bg-black absolute left-0 h-full z-10 duration-200" :style="styleObject" v-if="range"></div>

        <div v-for="item in time" class="p-2 w-1/4 date-range-item"
             :class="{'-range-selected': selected == item.val}"
             @click="setTab(item.val)">

            {{item.name}}

        </div>

    </div>
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        name: "DateRange",
        data(){
            return {
                time: [
                    {
                        name: '5 Days',
                        val: 5
                    },
                    {
                        name: '1 Week',
                        val: 7
                    },
                    {
                        name: '2 Weeks',
                        val: 14
                    },
                    {
                        name: 'Month',
                        val: 30
                    }
                ],
                selected: 5
            }
        },
        methods: {
            setTab(val){
                this.selected = val;

                this.$store.dispatch('planner/setRange', this.selected);
            }
        },
        computed:{
            styleObject(){
                let percent;

                if(this.selected == '5'){
                    percent = '0%';
                } else if(this.selected == '7'){
                    percent = '25%';
                } else if(this.selected == '14'){
                    percent = '50%';
                } else if(this.selected == '30'){
                    percent = '75%';
                }

                return {
                    marginLeft: percent
                }
            },
            ...mapState('planner',[
                'range'
            ])
        },
        mounted(){
            this.selected = this.range;
        }
    }
</script>

<style scoped>

</style>
