<template>
    <div class="bg-white h-full border-t-4">
        <div>
            <div class="text-2xl text-left p-4">
                {{date}}
            </div>

            <div class="p-4">
                <div class="h-12 block">
                    <transition name="fade">
                        <div v-if="selectedRecipe">
                            <div class="flex m-auto mb-4 justify-start">
                                <div class="mr-4 text-left">
                                    {{selectedRecipe.content.title}}
                                </div>
                                <div>
                                    <i class="icon ion-md-star text-yellow-500"></i>
                                    {{selectedRecipe.content.rating}}
                                </div>
                            </div>

                            <!--<div class="flex flex-col">-->
                            <!--<span> Prep: {{selectedRecipe.content.prep_time}}</span>-->
                            <!--<span>Cook: {{selectedRecipe.content.cook_time}}</span>-->
                            <!--</div>-->
                        </div>
                    </transition>
                </div>

                <div class="flex justify-between">
                    <add-day :day="day.name"
                             @setRecipe="setRecipe"
                             @clearRecipe="deleteRecipe"
                             :recipes="recipes">
                    </add-day>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AddDay from './AddDay';
    import { mapState } from 'vuex';
    import moment from 'moment';

    export default {
        name: "Day",
        props: [ 'day', 'recipes' ],
        components: { AddDay },
        methods: {
            setRecipe(val){
                if(val){
                    this.$store.commit('planner/ADD_RECIPE', {
                        content: val,
                        _id: this.day.id
                    })
                } else {
                    this.$store.commit('planner/DELETE_RECIPE', this.day.id)
                }

            },
            deleteRecipe(){
                console.log('deleteRecipe')
                this.$store.commit('planner/DELETE_RECIPE', this.day.id)
            }
        },
        computed: {
            ...mapState('planner',[
                'plannerRecipes'
            ]),
            date(){
              // return this.day.date;
              return moment(this.day.date, 'DD-MM-YYYY').format('DD');
            },
            selectedRecipe(){
                if(this.plannerRecipes.length){
                    return this.plannerRecipes.filter(el => {
                        return el._id == this.day.id;
                    })[0]
                }

                return false;
            }
        }
    }
</script>
