<template>
    <div>
         <v-select placeholder="Search Recipes"
                  :options="list"
                    label="title"
                   :value="recipe"
                   @input="selectEvent"
         ></v-select>
    </div>
</template>

<script>
    import vSelect from 'vue-select';

    export default {
        name: "ModalFilter",
        components: {vSelect},
        props: ['list', 'recipe'],
        methods: {
            selectEvent(recipe){
                this.$emit('select', recipe)
            }
        }
    }
</script>

<style scoped>

</style>
