<template>
    <div class="flex flex-col w-full md:w-2/4 lg:w-2/6">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
            <div class="align-middle inline-block shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                <table class="min-w-full">
                    <thead>
                    <tr>
                        <th class="pl-4 pr-2 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Amt.
                        </th>
                        <th class="px-4 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Name
                        </th>
                        <th class="px-4 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Price
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-white" v-for="(item, index) in getIngredientList" :class="{'bg-gray-50':index % 2 !==0 }">
                        <td class="px-4 text-right py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                            {{item.amount}}
                        </td>
                        <td class="px-4 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
                            {{item.name}}
                        </td>
                        <td class="px-4 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
                            £{{item.price}}
                        </td>
                    </tr>

                    <tr class="bg-white">
                        <td class="px-4 text-right py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                            Total
                        </td>
                        <td class="px-4 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
                        </td>
                        <td class="px-4 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
                            £{{total}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: "PlannerShoppingList",
        computed: {
            ...mapGetters('planner', [
                'getIngredientList',
                'getDaysOfWeek'
            ]),
            total(){
                return this.getIngredientList.map((el) => el.price).reduce((a,b) => parseFloat(a) + parseFloat(b))
            }
        }
    }
</script>

<style scoped>

</style>
