<template>
    <div>
        <h1 class="mb-6">Planner</h1>

        <div class="mb-4 w-full flex flex-col-reverse md:flex-row">
            <div class="w-full sm:w-1/2 xlg:w-1/4 mr-12">
                <date-range></date-range>
            </div>

            <div class="mb-4 mb:mb-0">
                <client-only placeholder="Loading...">
                    <date-picker></date-picker>
                </client-only>
            </div>
        </div>

        <div class="flex flex-row mb-8">
            <div class="btn-primary mr-4" @click="generateRecipes">Generate</div>
            <div class="btn-primary " @click="clearRecipes">Clear</div>
        </div>

        <div>
            <div class="pb-4">
                <div class="flex flex-row flex-wrap md:flex-row justify-start grid grid-cols-7 gap-4">
                    <div v-for="day in getDaysOfWeek"
                         class="w-full day-container text-left h-auto ">
                        {{day}}
                    </div>
                </div>
            </div>

            <div class="mb-8 overflow-hidden" v-if="days">
                <div class="flex flex-row flex-wrap md:flex-row justify-start grid grid-cols-7 gap-4">
                    <div v-for="(day, index) in days"
                         class="w-full day-container text-center h-auto ">

                        <day-cell :day="day" :recipes="list"></day-cell>
                    </div>
                </div>
            </div>
        </div>

        <transition name="fade">
            <div v-if="plannerRecipes.length">
                <!--<div v-for="item in getIngredientList">-->
                    <!--<div class="flex pb-4">-->
                        <!--<div class="w-20">{{item.name}}</div>-->
                        <!--<div>{{item.amount}}</div>-->
                    <!--</div>-->
                <!--</div>-->

                <planner-shopping-list :ingredients="getIngredientList"></planner-shopping-list>
            </div>
        </transition>
    </div>
</template>

<script>
    import DayCell from '../../components/planner/DayCell';
    import DateRange from '../../components/planner/DateRange';
    import PlannerShoppingList from '../../components/planner/PlannerShoppingList';
    import DatePicker from '../../components/planner/DatePicker';
    import { mapState, mapGetters } from 'vuex';

    export default {
        name: "index",
        components: { DayCell, DateRange, DatePicker, PlannerShoppingList },
        middleware: 'authenticated',
        async asyncData({ store }) {
            await store.dispatch('planner/setRange', store.state.planner.range)
        },
        data(){
            return {
                recipe: {}
            }
        },
        methods:{
            show () {
                this.$modal.show('hello-world');
            },
            hide () {
                this.$modal.hide('hello-world');
            },
            setRecipe(val){
                this.recipe = val;
            },
            clearRecipes(){
                this.$store.commit('planner/CLEAR_RECIPES')
            },
            generateRecipes(){
                this.$store.dispatch('planner/generateList', this.list)
            }
        },
        computed: {
            ...mapState('recipes',[
                'list',
            ]),
            ...mapState('planner',[
                'days',
                'recipes',
                'range',
                'plannerRecipes'
            ]),
            ...mapGetters('planner', [
                'getIngredientList',
                'getDaysOfWeek'
            ])
        }
    }
</script>

<style scoped>

</style>
