<template>
    <div>
        <h1 class="text-2xl mb-8">Ingredients</h1>

        <div class="flex items-center justify-between mb-4">
            <div class="flex bg-white shadow p-4 rounded-md">
                <div class="mb-4 mr-4">
                    <div>
                        <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Name</label>

                        <input class="text-input"
                               id="name"
                               type="text"
                               v-model="ingredient.name">
                    </div>
                </div>

                <div class="mr-4 ">
                    <div>
                        <label for="price" class="block text-sm font-medium leading-5 text-gray-700">
                            Price
                        </label>

                        <input class="text-input mb-2"
                               id="price"
                               type="text"
                               v-model="ingredient.price">

                        <div class="text-xs text-blue-500 cursor-pointer"
                             @click="show">
                            Calculate
                        </div>
                    </div>
                </div>

                <span class="inline-flex rounded-md shadow-sm">
                  <button @click="addIngredient" type="button"
                          class="mt-4 inline-flex items-center px-4 py-2 h-12 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
                    Add
                  </button>
                </span>
            </div>
        </div>

        <div class="flex flex-col">
            <div class="-my-2 py-2 lg:-mx-8 lg:px-8 z-20">
                <div class="align-middle inline-block min-w-full border border-b-0 border-gray-200 rounded-tl rounded-tr">
                    <table class="min-w-full">
                        <thead class="bg-blue-900 ">
                            <tr>
                                <th class="rounded-tl px-6 py-3 border-b border-gray-200 text-left text-xs leading-4 font-medium text-gray-100 uppercase tracking-wider">
                                    Name
                                </th>

                                <th class="px-6 py-3 border-b border-gray-200 text-left text-xs leading-4 font-medium text-gray-100 uppercase tracking-wider">
                                    Avg. Price
                                </th>

                                <th class="px-6 py-3 border-b border-gray-200 text-left text-xs leading-4 font-medium text-gray-100 uppercase tracking-wider">
                                    Used in
                                </th>
                                <!--<th class="px-6 py-3 border-b border-gray-200 text-left text-xs leading-4 font-medium text-gray-100 uppercase tracking-wider">-->
                                    <!--Last Used-->
                                <!--</th>-->
                                <th class="rounded-tr px-6 py-3 border-b border-gray-200 "> </th>
                            </tr>
                        </thead>

                        <tbody class="bg-white rounded-full">
                            <ingredient-row-item v-for="(ingredient, index) in getIngredientsPerPage" :ingredient="ingredient" :key="index" :index="index"></ingredient-row-item>
                        </tbody>
                    </table>
                </div>
            </div>


            <pagination></pagination>

        </div>

        <modal name="calculate" :pivotX="0.65" height="auto" :class="['calculator-modal']">
            <div>
                 <div>
                    <div class="p-8">
                        <h3 class="text-lg leading-6 font-medium text-gray-900 mb-4">
                            Calculate price per individual item
                        </h3>
                        <div class="flex">
                            <div class="flex flex-col w-1/2">
                                <!--<div class="mb-4 ">-->
                                    <!--<v-select placeholder="Select Shop"-->
                                              <!--:options="shops"-->
                                              <!--label="title"-->
                                              <!--:value="calculator.shop"-->
                                              <!--@input="selectEvent"-->
                                    <!--&gt;</v-select>-->
                                <!--</div>-->
                                <div class="mb-4">
                                    <div>
                                        <label class="block text-sm font-medium leading-5 text-gray-700">
                                            Avg. Amount Per Unit
                                        </label>

                                        <input class="text-input"
                                               type="text"
                                               v-model="calculator.amountPer">
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <div>
                                        <label class="block text-sm font-medium leading-5 text-gray-700">
                                            Price
                                        </label>

                                        <input class="text-input"
                                               type="text"
                                               v-model="calculator.pricePer">
                                    </div>
                                </div>
                                <div>
                                    <button @click="calc" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                        Calculate
                                    </button>
                                </div>
                            </div>
                            <div class="w-1/2 flex justify-center items-center">
                                <div class="text-5xl">
                                    £{{formattedPrice}}
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="bg-gray-50 rounded-b p-4 sm:px-6 sm:flex sm:flex-row-reverse">
                          <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                            <button @click="close" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                              Save
                            </button>
                          </span>
                                             <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                            <button @click="close" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                              Cancel
                            </button>
                          </span>
                     </div>
                </div>
            </div>
        </modal>

    </div>
</template>

<script>
    import { mapState, mapGetters } from 'vuex';
    import vSelect from 'vue-select';
    import TextInput from '../../components/forms/TextInput';
    import Pagination from '../../components/ingredients/pagination';
    import IngredientRowItem from '../../components/ingredients/IngredientRowItem';

    export default {
        name: "index",
        components: { TextInput, IngredientRowItem, Pagination, vSelect },
        data(){
            return {
                ingredient: {
                    name: '',
                    price: '',
                    page: 1
                },
                errors: false,
                shops: [
                    'sainsburys',
                    'Asda',
                    'Lidl'
                ],
                calculator: {
                    shop: '',
                    amountPer: '',
                    pricePer: ''
                }
            }
        },
        methods: {
            addIngredient(){
                if(this.ingredient.name.length > 0 && this.ingredient.price.length > 0){
                    this.$store.dispatch('ingredients/addIngredient', this.ingredient);

                    this.ingredient = {
                        name: '',
                        price: '',
                    }
                } else {
                    this.errors = true;
                }
            },
            deleteIngredient(id){
                this.$store.dispatch('ingredients/deleteIngredient', {id});
            },
            show () {
                this.$modal.show('calculate');
            },
            close () {
                this.$modal.hide('calculate');
            },
            selectEvent(val){
                this.calculator.shop = val;
            },
            calc(){
                let calcPrice = this.calculator.amountPer / this.calculator.pricePer;

                this.ingredient.price = calcPrice.toFixed(2);
            }
        },
        computed: {
            ...mapState('ingredients',[
                'ingredients'
            ]),
            ...mapGetters('ingredients', [
                'getIngredientsPerPage',
            ]),
            formattedPrice(){
                let price = this.ingredient.price;

                if(price) {
                    return price;
                } else {
                    return '0.00';
                }
            }
        }
    }
</script>

<style scoped>

</style>
