<template>
    <div class="">
        <div class="">
            <h1 class="text-2xl font-semibold text-gray-900 mb-8">Overview</h1>

            <div class="mb-6">
                <div>
                    <div class="mt-5 grid grid-cols-1 rounded-lg bg-white overflow-hidden shadow md:grid-cols-3">
                        <div>
                            <div class="px-4 py-5 sm:p-6">
                                <dl>
                                    <dt class="text-base leading-6 font-normal text-gray-900">
                                        Total Subscribers
                                    </dt>
                                    <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                                        <div class="flex items-baseline text-2xl leading-8 font-semibold text-indigo-600">
                                            71,897
                                            <span class="ml-2 text-sm leading-5 font-medium text-gray-500">
                                            from 70,946
                                          </span>
                                        </div>
                                        <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800 md:mt-2 lg:mt-0">
                                            <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                                                <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                                            </svg>
                                            <span class="sr-only">
                                                Increased by
                                              </span>
                                            12%
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="border-t border-gray-200 md:border-0 md:border-l">
                            <div class="px-4 py-5 sm:p-6">
                                <dl>
                                    <dt class="text-base leading-6 font-normal text-gray-900">
                                        Avg. Open Rate
                                    </dt>
                                    <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                                        <div class="flex items-baseline text-2xl leading-8 font-semibold text-indigo-600">
                                            58.16%
                                            <span class="ml-2 text-sm leading-5 font-medium text-gray-500">
                                                from 56.14%
                                              </span>
                                        </div>
                                        <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800 md:mt-2 lg:mt-0">
                                            <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                                                <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                                            </svg>
                                            <span class="sr-only">
                                                Increased by
                                              </span>
                                            2.02%
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="border-t border-gray-200 md:border-0 md:border-l">
                            <div class="px-4 py-5 sm:p-6">
                                <dl>
                                    <dt class="text-base leading-6 font-normal text-gray-900">
                                        Avg. Click Rate
                                    </dt>
                                    <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                                        <div class="flex items-baseline text-2xl leading-8 font-semibold text-indigo-600">
                                            24.57%
                                            <span class="ml-2 text-sm leading-5 font-medium text-gray-500">
                                            from 28.62
                                          </span>
                                        </div>
                                        <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-red-100 text-red-800 md:mt-2 lg:mt-0">
                                            <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                                                <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"/>
                                            </svg>
                                            <span class="sr-only">
                                                Decreased by
                                              </span>
                                            4.05%
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="flex w-full">
                <div class="bg-white w-1/2 rounded shadow ">
                    <div class="flex items-center justify-between py-3 px-8 border-b border-gray-100">
                        <h3 class="text-lg font-heading">Latest</h3>
                    </div>

                    <div class="py-3 pb-0 px-8">
                        <div class="py-4" v-if="shortList.length">
                            <div v-for="(item, index) in shortList">
                                <recipe-listItem :recipe="item" class="mb-4"></recipe-listItem>

                                <hr class="mb-4 opacity-50" v-if="index !== shortList.length - 1">
                            </div>
                        </div>
                        <div v-else class="py-12 flex justify-center items-center">
                            <spinner></spinner>
                        </div>
                    </div>
                </div>

                <div class="bg-white w-1/2 rounded shadow ml-2 h-full">
                    <!--<chart></chart>-->

                    <div class="w-full">
                         <div class="w-full lg:mb-0">
                            <div class="h-full w-full border-gray-100 rounded ">
                                <div class="flex items-center justify-between py-3 px-8 border-b border-gray-100 relative">
                                    <h3 class="text-lg font-heading">Income</h3>
                                    <span class="absolute right-0 py-1 px-3 mr-4 text-sm text-white font-semibold bg-green-500 rounded-full">Monthly</span>
                                </div>
                                <div class="flex flex-col p-8">
                                    <h3 class="text-3xl mb-3 font-heading font-semibold">108,200</h3><span>Total income</span><span class="text-green-500">82%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import { mapState } from 'vuex';
    import RecipeListItem from '../../components/RecipeListItem'
    import Chart from '../../components/charts/Chart'
    import Spinner from '../../components/forms/Spinner';

    export default {
        components: { RecipeListItem, Chart, Spinner },
        middleware: 'authenticated',
        computed:{
            ...mapState({
                user: state => state.user.currentUser
            }),
            ...mapState('recipes',[
                'list'
            ]),
            shortList(){
                return this.list.slice(0, 5)
            }
        }
    }
</script>
