<template>
    <div class="bg-white p-8 rounded-md shadow">
        <span class="inline-block h-12 w-12 rounded-full overflow-hidden bg-gray-100 mb-4">
          <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
            <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
        </span>

        <div class="flex justify-between">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Account Information
            </h3>

            <div>
                <!--<div class="relative inline-block text-left" v-on-clickaway="close">-->
                    <!--<div>-->
                        <!--<button @click="open = !open" class="flex items-center text-gray-400 hover:text-gray-600 focus:outline-none focus:text-gray-600">-->
                            <!--<svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">-->
                                <!--<path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />-->
                            <!--</svg>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<transition-->
                            <!--x-show="open"-->
                            <!--enter-active-class="transition ease-out duration-100"-->
                            <!--enter-class="transform opacity-0 scale-95"-->
                            <!--enter-to-class="transform opacity-100 scale-100"-->
                            <!--leave-active-class="transition ease-in duration-75"-->
                            <!--leave-class="transform opacity-100 scale-100"-->
                            <!--leave-to-class="transform opacity-0 scale-95"-->
                            <!--class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg">-->
                        <!--<div v-if="open" class="rounded-md bg-white shadow-xs absolute right-0 mt-2 w-48 z-20">-->
                            <!--<div class="py-1">-->
                                <!--<div @click="editToggle" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">-->
                                    <!--Edit-->
                                <!--</div>-->

                                <!--<div class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">-->
                                    <!--Support-->
                                <!--</div>-->

                                <!--&lt;!&ndash;<div class="border-t border-gray-100"></div>&ndash;&gt;-->
                                <!--<a href="#" class="block px-4 py-2 text-sm leading-5 text-red-600 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">-->
                                    <!--Delete-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</transition>-->
                <!--</div>-->
            </div>
        </div>
        <div class="mt-5 border-t border-gray-200 pt-5">
            <dl>
                <div class=" sm:grid sm:grid-cols-3 sm:gap-4">
                    <dd class="text-sm leading-5 font-medium text-gray-500">
                        Full name
                    </dd>
                    <dt class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                        {{$auth.user.name}}
                    </dt>
                </div>
                <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                    <dd class="text-sm leading-5 font-medium text-gray-500">
                        Email Address
                    </dd>
                    <dt class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                        {{$auth.user.email}}
                    </dt>
                </div>

                <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                    <dd class="text-sm leading-5 font-medium text-gray-500">
                        Account Type
                    </dd>
                    <dt class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="px-4 py-2 bg-green-500 text-white rounded-full mr-4">
                            Pro
                        </span>

                        <span class="px-4 py-2 bg-yellow-500 rounded-full mr-4">
                           Super Admin
                        </span>

                        <span class="px-4 py-2 bg-purple-500 text-white rounded-full">
                           Creator
                        </span>
                    </dt>
                </div>
            </dl>
        </div>
    </div>
</template>

<script>
    export default {
        middleware: 'authenticated',
        data(){
            return {
                open: false,
                edit: false
            }
        },
        methods: {
            close(){
                this.open = false;
            },
            editToggle(){
                this.edit = !this.edit;
            }
        }
    }
</script>

<style scoped>

</style>
