<template>
    <tr class="relative">
        <td class="w-1/3 px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 font-medium text-gray-900">
            <span v-if="!edit">{{ ingredient.name }}</span>
            <input v-else type="text" class="text-input" v-model="localIngredient.name">
        </td>
        <!--<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-600">-->
        <!--2-->
        <!--</td>-->
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-600">
            <span v-if="!edit">£{{ ingredient.price }}</span>
            <input v-else type="text" class="text-input"  v-model="localIngredient.price">
        </td>

        <td class="cursor-pointer underline px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-600"
            @click="show">
            {{getUsedIn().length}}
        </td>

        <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
            <div class="inline-block text-left" >
                <div v-if="!edit">
                    <button @click="open = !open" v-on-clickaway="close" class="flex items-center text-gray-400 hover:text-gray-600 focus:outline-none focus:text-gray-600">
                        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                        </svg>
                    </button>
                </div>
                <div v-else  @click="save">
                    <div class="bg-green-500 rounded py-2 px-4 text-white cursor-pointer">
                        Save
                    </div>
                </div>
                <transition enter-active-class="transition ease-out duration-100"
                            enter-class="transform opacity-0 scale-95"
                            enter-to-class="transform opacity-100 scale-100"
                            leave-active-class="transition ease-in duration-75"
                            leave-class="transform opacity-100 scale-100"
                            leave-to-class="transform opacity-0 scale-95">

                    <div v-if="open" class="origin-top-right absolute right-0 mr-12 mt-2 w-48 rounded-md shadow-lg">
                        <div class="rounded-md bg-white shadow-xs z-10">
                            <div class="py-1">
                                <div @click="toggleEdit" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
                                    Edit
                                </div>
                                <div @click="deleteIngredient" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
                                    Delete
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </td>

        <modal :name="modalName" :pivotX="0.65" height="auto">
            <div class="p-8">
                <h3 class="mb-4">Ingredient used in</h3>

               <div class="grid grid-cols-3 gap-4">
                   <nuxt-link :to="'/recipes/' + recipe.id" v-for="recipe in getUsedIn()"
                              class="shadow p-4" :key="recipe.id">
                       {{recipe.title}}
                   </nuxt-link>
               </div>
            </div>
        </modal>
    </tr>
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        name: "IngredientRowItem",
        props: ['ingredient', 'index'],
        data(){
            return {
                open: false,
                edit: false,
                localIngredient: {

                }
            }
        },
        methods:{
            close(){
                this.open = false;
            },
            deleteIngredient(){
                this.$store.dispatch('ingredients/deleteIngredient', this.ingredient);
            },
            toggleEdit(){
                this.open = false;
                this.edit = !this.edit;
            },
            save(){
                this.$store.dispatch('ingredients/editIngredient', this.localIngredient)
                    .then(() =>{
                        this.edit = !this.edit;
                    });
            },
            getUsedIn(){
                let id = this.ingredient.id;

                let usedIn = this.list.filter(el => {
                    let ingList = el.ingredients.filter((el) => el.id == id)
                    if(ingList.length > 0){
                        return el;
                    }
                });
                return usedIn;
            },
            show () {
                this.$modal.show(this.modalName);
            },
            hide () {
                this.$modal.hide(this.modalName);
            }
        },
        computed:{
            modalName(){
                return 'ing' + this.ingredient.id;
            },
            styleObject(){
                return {
                    zIndex: 10000 - this.index
                }
            },
            ...mapState('recipes',[
                'list'
            ])
        },
        mounted(){
            this.localIngredient = {...this.ingredient }

            console.log('mounted!')
        },
        watch: {
            ingredient: function (newQuestion, oldQuestion) {
                this.localIngredient = {...newQuestion }
            }
        }
    }
</script>

<style scoped>

</style>
