<template>
    <div class="bg-white px-4 py-3 flex items-center justify-between border-gray-200 sm:px-6 border border-t-0 rounded-bl rounded-br z-10">
        <div class="flex-1 flex justify-between sm:hidden">
            <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                Previous
            </a>
            <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                Next
            </a>
        </div>
        <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
            <div>
                <p class="text-sm leading-5 text-gray-700">
                    Showing
                    <span class="font-medium">1</span>
                    to
                    <span class="font-medium">10</span>
                    of
                    <span class="font-medium">97</span>
                    results
                </p>
            </div>

            <div  v-if="getPageNumber > 1">
                  <span class="relative z-0 inline-flex shadow-sm">
                    <button @click="decrementPage" type="button" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150">
                      <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
                      </svg>
                    </button>

                    <button v-for="number in pageNumbers" type="button"
                            @click="setPage(number)"
                            class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
                            :class="{
                                'shadow-outline-blue' : number == page,
                                'bg-gray-100' : number == page,
                                'text-gray-700' : number == page,
                            }">
                      {{number}}
                    </button>

                    <button @click="incrementPage" type="button" class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150">
                      <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                      </svg>
                    </button>
                  </span>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters } from 'vuex';

    export default {
        name: "pagination",
        methods: {
            setPage(num){
                this.$store.commit('ingredients/SET_PAGE', num);
            },
            incrementPage(){
                this.$store.dispatch('ingredients/incrementPage');
            },
            decrementPage(){
                this.$store.dispatch('ingredients/decrementPage');
            }
        },
        computed: {
            ...mapState('ingredients',[
                'page'
            ]),
            ...mapGetters('ingredients', [
                'getPageNumber'
            ]),
            pageNumbers(){
                // return [1,2,3,'...',8,9,10]

                let pageArr = [];


                for(let i = 1; i <= this.getPageNumber; i++){
                    pageArr.push(i);
                }

                return pageArr;
            }
        }
    }
</script>

<style scoped>

</style>
