<template>
    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full">
            <div>
                <img class="mx-auto h-12 w-auto" src="/img/logo-w-text-blue.svg" alt="Workflow" />
                <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                    Sign up!
                </h2>

            </div>
            <register-form></register-form>
        </div>
    </div>
</template>

<script>
    import RegisterForm from '../../components/forms/RegisterForm';

    export default {
        transition: {
            name: 'fade',
            mode: 'out-in'
        },
        layout:'landing',
        components: { RegisterForm }
    }
</script>

<style scoped>

</style>
