<template>
        <div class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg" @click="emitClick">
            <div class="rounded-md bg-white shadow-xs">

                <div class="py-1">
                    <nuxt-link to="/account" class="group flex items-center px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
                        <i class="icon ion-md-person text-gray-400 text-xl mr-4"></i>
                        Account
                    </nuxt-link>
                    <nuxt-link to="/logout" class="group flex items-center px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
                        <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd"/>
                        </svg>
                        Logout
                    </nuxt-link>
                </div>
            </div>
        </div>
</template>

<script>
    export default {
        name: "AccountDropDown",
        methods: {
            emitClick(){
                this.$emit('dropDownClick')
            }
        }
    }
</script>

<style scoped>

</style>
