<template>
        <div class="relative z-10 flex-shrink-0 flex h-16 bg-white shadow">
            <button @click="sidebarOpen" class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-600 md:hidden">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                </svg>
            </button>

            <div class="flex-1 px-4 flex justify-between">
                <div class="flex-1 flex">
                    <div class="w-full flex md:ml-0">
                        <label for="search_field" class="sr-only">Search</label>

                        <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                            <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
                                <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
                                </svg>
                            </div>
                            <input id="search_field" class="block w-full h-full pl-8 pr-3 py-2 rounded-md text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 sm:text-sm" placeholder="Search" />
                        </div>
                    </div>
                </div>
                <div class="ml-4 flex items-center md:ml-6">
                    <nuxt-link to="/addrecipe">
                        <span class="text-xl bg-green-500 h-8 w-8 rounded-xlg shadow text-white flex justify-center items-center cursor-pointer">
                            <i class="icon ion-ios-add-circle-outline"></i>
                        </span>
                    </nuxt-link>


                    <div v-on-clickaway="closeAccountDropdown" class="ml-3 relative">
                        <div>
                            <button @click="open = !open" class="max-w-xs flex items-center text-sm rounded-full focus:outline-none focus:shadow-outline">
                                <div class="h-8 w-8 border-gray-100 border rounded-full flex justify-center items-center">
                                    <i class="icon ion-md-person text-xl text-gray-500"></i>
                                </div>
                            </button>
                        </div>
                        <transition enter-active-class="transition ease-out duration-100"
                                    enter-class="transform opacity-0 scale-95"
                                    enter-to-class="transform opacity-100 scale-100"
                                    leave-active-class="transition ease-in duration-75"
                                    leave-class="transform opacity-100 scale-100"
                                    leave-to-class="transform opacity-0 scale-95">

                                <account-drop-down v-if="open" @dropDownClick="closeDropDown" v-on-clickaway="closeDropDown"></account-drop-down>
                        </transition>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    import {EventBus} from '../plugins/event-bus';
    import AccountDropDown from './AccountDropDown';

    export default {
        name: "ActionBarNew",
        components: { AccountDropDown },
        data(){
            return {
                open: false,
            }
        },
        methods: {
            sidebarOpen(){
                EventBus.$emit('sidebarOpen');
            },
            closeAccountDropdown(){
                this.open = false;
            },
            closeDropDown(){
                this.open = false;
            }
        }
    }
</script>

<style scoped>

</style>
