<template>
    <div class="hidden md:block">
        <div class="flex justify-end items-center h-16 px-4 fixed right-0 top-0 z-50 bg-white w-4/5 shadow" v-if="$auth.loggedIn">
            <nuxt-link to="/addrecipe">
                <span class="text-2xl bg-green-400 h-10 w-10 rounded-xlg shadow text-white flex justify-center items-center cursor-pointer">
                    <i class="icon ion-ios-add-circle-outline"></i>
                </span>
            </nuxt-link>

            <!--<span class="text-3xl ml-4 cursor-pointer">-->
            <!--<i class="icon ion-ios-search"></i>-->
            <!--</span>-->

            <div class="cursor-pointer ml-6">
                <div class="flex justify-center items-center "
                     @click="() => toggleDropDown = !toggleDropDown">
                    <div class="logo bg-white h-10 w-10 rounded-xlg shadow mr-1 text-purple-400 flex justify-center items-center text-xl">
                        <i class="icon ion-md-person"></i>
                    </div>

                    <div class="text-xl -mb-1">
                        <i class="icon ion-ios-arrow-down"></i>
                    </div>
                </div>

                <transition name="fade">
                    <account-drop-down v-if="toggleDropDown" @dropDownClick="closeDropDown" v-on-clickaway="closeDropDown"></account-drop-down>
                </transition>
            </div>
        </div>
        <div class="flex justify-end items-center p-4 fixed right-0 top-0 z-50" v-else>
            <nuxt-link to="/login"
                       class="text-gray-800 text-sm font-semibold mr-4">
                Sign in
            </nuxt-link>
            <nuxt-link to="/register"
                       class="text-gray-800 text-sm font-semibold border border-gray-500 px-4 py-2 rounded-lg ">
                Sign up
            </nuxt-link>
        </div>
    </div>
</template>

<script>
    import AccountDropDown from './AccountDropDown';

    export default {
        name: "ActionBar",
        data(){
            return {
                toggleDropDown: false
            }
        },
        components: {
            AccountDropDown
        },
        methods: {
            closeDropDown(){
                this.toggleDropDown = false
            }
        }
    }
</script>

<style scoped>

</style>
