<template>
    <div>
        <div class="text-3xl pl-6 pt-4 fixed z-50 md:hidden">
            <i class="icon ion-ios-menu cursor-pointer"
                @click="toggleMenu"></i>
        </div>

        <div class="hidden md:block pt-8 pr-4 transition-all h-full font-sans
                    bg-side-bar fixed w-1/2 md:w-1/5">
            <div class="flex flex-col items-start">
                <nuxt-link to="/">
                    <div class="font-bold pl-4 pb-4 flex items-center justify-center">
                        <img src="/img/logo-w-text.svg" alt="">
                    </div>
                </nuxt-link>

                <nuxt-link to="/overview" class="nav-link" :class="{'active': $nuxt.$route.path.includes('/overview')}">
                    <span class="pr-4 flex">
                        <i class="icon ion-md-home"></i>
                    </span>

                    <span>Dashboard</span>
                </nuxt-link>

                <nuxt-link to="/recipes" v-if="$auth.loggedIn" class="nav-link" :class="{'active': $nuxt.$route.path.includes('/recipe')}">
                    <span class="pr-4 flex">
                        <i class="icon ion-md-list"></i>
                    </span>


                    <span>Recipes</span>
                </nuxt-link>

                <nuxt-link to="/ingredients" v-if="$auth.loggedIn" class="nav-link" :class="{'active': $nuxt.$route.path.includes('/ingredients')}">
                    <span class="pr-4 flex">
                        <i class="icon ion-md-pricetags"></i>
                    </span>

                    <span>Ingredients</span>
                </nuxt-link>

                <nuxt-link to="/planner" v-if="$auth.loggedIn" class="nav-link" :class="{'active': $nuxt.$route.path.includes('/planner')}">
                    <span class="pr-4 flex">
                        <i class="icon ion-md-calendar"></i>
                    </span>

                    <span>Planner</span>
                </nuxt-link>
            </div>
        </div>

        <transition name="slide">
            <div v-if="menuState" class="md:hidden pt-16 pr-4 transition-all h-full font-sans bg-side-bar fixed w-1/2 md:w-1/5">
                <div class="flex flex-col items-start">
                    <span @click="closeNav" class="block w-full">
                        <nuxt-link to="/overview" class="nav-link" >
                            <span class="pr-4 flex">
                                <i class="icon ion-md-home"></i>
                            </span>

                            <span>Home 2</span>
                        </nuxt-link>
                    </span>

                    <span @click="closeNav" class="block w-full">
                        <nuxt-link to="/recipes" v-if="$auth.loggedIn" class="nav-link" :class="{'active': $nuxt.$route.path.includes('/recipe')}">
                            <span class="pr-4 flex">
                                <i class="icon ion-md-list"></i>
                            </span>

                            <span>Recipes</span>
                        </nuxt-link>
                    </span>

                    <span @click="closeNav" class="block w-full">
                        <nuxt-link to="/addrecipe" class="nav-link md:hidden">
                            <span class="pr-4 flex">
                                <i class="icon ion-ios-add-circle-outline"></i>
                            </span>

                            <span>Add Recipe</span>
                        </nuxt-link>
                    </span>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "NavBar",
        data(){
            return {
                menuState: false
            }
        },
        methods: {
            toggleMenu(){
                this.menuState = !this.menuState;
            },
            closeNav(){
                this.menuState = false;
            }
        }
    }
</script>

<style scoped>
    .-closed {
        left: -100%;
    }
</style>
