<template>
    <article class="overflow-hidden w-full sm:w-1/2 md:w-1/4 card-container">
        <div class="rounded-lg shadow-lg bg-white h-full">
            <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                <h1 class="text-lg">
                    <nuxt-link class="no-underline hover:underline text-black" :to="'/recipes/' + recipe.id">
                        <span class="mb-2">{{recipe.title}}</span>
                    </nuxt-link>

                    <p class="text-gray-900 text-xs">
                        {{formatDate}}
                    </p>
                </h1>

                <span>
                    <i class="icon ion-ios-star text-yellow-500 mr-2"></i>{{recipe.rating}}
                </span>
            </header>

            <footer class="flex items-center leading-none p-2 md:p-4 text-gray-500 break-all">
                {{recipe.description}}
            </footer>
        </div>
    </article>
</template>

<script>
    import moment from 'moment';
    import AddRating from './recipes/AddRating';

    export default {
        name: "RecipeCard",
        components: {AddRating},
        props:['recipe'],
        data(){
            return {
                edit: false,
                newRecipe: {
                    title: '',
                    content: ''
                }
            }
        },
        methods: {
            toggleEdit(){
                this.edit = !this.edit;
            },
            save(){
                let payload = {
                    ...this.newRecipe,
                    id: this.recipe.id
                };

                this.$store.dispatch('recipes/editRecipe', payload);
            },
            deleteRecipe(){
                this.$store.dispatch('recipes/deleteRecipe', this.recipe)
                    .then(() =>{
                        this.$router.push({ path: '/recipes' });
                    });
            }
        },
        computed:{
            formatDate(){
                return moment(this.recipe.created_at).format('DD/MM/YY')
            }
        },
        mounted(){
            this.newRecipe.title = this.recipe.title;
            this.newRecipe.content = this.recipe.content;
        }
    }
</script>

<style scoped>
    .card-container {
        height: 260px;
    }
</style>
