<template>
    <div class="flex justify-between">
        <div class="flex items-center items-center">
            <!--<div class="h-12 w-12 bg-black mr-6 rounded-lg opacity-75"></div>-->

            <div>
                <nuxt-link class="mb-2 hover:underline" :to="'/recipes/' + recipe.id">
                    {{recipe.title}}
                </nuxt-link>

                <div class="flex w-1/2 text-xs text-gray-600">
                    {{formatDate}}
                </div>
            </div>
        </div>


        <div>
            <i class="icon ion-md-star text-yellow-500"></i>
            {{recipe.rating}}
        </div>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        name: "RecipeListItem",
        props: ['recipe'],
        computed:{
            formatDate(){
                return moment(this.recipe.created_at).format('DD/MM/YY')
            }
        }
    }
</script>

<style scoped>

</style>
