<template>
    <div class="w-full">
        <client-only placeholder="Loading...">
            <vue-timepicker v-model="time"  @input="emitTime"></vue-timepicker>
        </client-only>
    </div>
</template>

<script>
    import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'

    export default {
        name: "TimePicker",
        components: { VueTimepicker },
        props: ['value'],
        data(){
            return {
                time: ''
            }
        },
        methods: {
            emitTime(){
                this.$emit('update:time', this.time)
            }
        },
        mounted(){
            if(this.value){
                this.time = this.value;
            }
        }
    }
</script>

<style scoped>

</style>
