<template>
    <div class="bg-white p-6 py-8 relative rounded overflow-hidden shadow">

        <!--<div class="banner-image bg-black h-24 w-full absolute top-0 left-0 opacity-25"></div>-->

        <div class="flex justify-between">
            <h4 class="text-4xl mb-6 ">
                {{recipe.title}}
            </h4>

            <div>
                <add-rating :disabled="true" :recipe="recipe.rating"></add-rating>
            </div>
        </div>

        <div class="flex justify-between items-center mb-8">
           <div class="flex flex-col">
               <div class="flex mb-4">
                    <servings :servings="recipe.servings" :id="recipe.id"/>
               </div>

               <div class="flex flex-col">
                   <div class="flex mb-4">
                       <div class="flex mr-6">
                           <i class="icon ion-md-stopwatch mr-2"></i>
                           <span class="font-bold mr-1">Prep:</span>
                           <span>{{recipe.prep_time}}</span>
                       </div>

                       <div class="flex mr-6">
                           <i class="icon ion-md-time mr-2"></i>
                           <span class="font-bold mr-1">Cook:</span>
                           {{recipe.cook_time}}
                       </div>
                   </div>

                   <div class="flex opacity-75">
                       <div v-for="tag in recipe.tags" class="border border-black rounded-full px-4 py-1 mr-4">
                           {{tag}}
                       </div>
                   </div>
               </div>
           </div>

            <div class="flex text-sm">
                <options-dropdown :recipe="recipe"></options-dropdown>
            </div>
        </div>

        <div class="mb-12 max-w-2xl">
            <p>
                {{recipe.description}}
            </p>
        </div>

        <div class="grid grid-cols-1 xl:grid-cols-5 gap-8 w-full">
            <div class="col-span-2">
                <div class="text-2xl mb-4">Ingredients</div>

                <ingredients :ingredients="recipe.ingredients" :servings="recipe.servings"></ingredients>
            </div>

            <div class="col-span-3">
                <div class="text-2xl mb-4">Method</div>

                <div v-for="(step, index) in recipe.method" class="flex mb-4 border-b border-gray-100 py-6">
                    <div class="mr-4 ">
                        <div class="text-2xl text-gray-500">
                            {{index + 1}}.
                        </div>
                    </div>

                    <div  v-if="!step.edit"
                          class=""
                          v-html="step.content">
                    </div>
                </div>
            </div>

            <!--<div>-->
                <!--<div class="text-2xl mb-4">Nutrition</div>-->

                <!--<nutrition-info></nutrition-info>-->
            <!--</div>-->
        </div>

    </div>
</template>

<script>
    import axios from 'axios';
    import AddRating from '../../components/recipes/AddRating';
    import Ingredients from '../../components/recipes/Ingredients';
    import NutritionInfo from '../../components/recipes/NutritionInfo';
    import DeleteRecipe from '../../components/recipes/DeleteRecipe';
    import Servings from '../../components/recipes/Servings';
    import OptionsDropdown from '../../components/recipes/OptionsDropdown';

    export default {
        components: { AddRating, DeleteRecipe, Ingredients, OptionsDropdown, Servings, NutritionInfo},
        middleware: 'authenticated',
        async asyncData({ $axios, params }) {
            const recipe = await $axios.$get('/recipe/' +  params.id)
            return { recipe }
        }
    }
</script>

<style scoped>

</style>
