<template>
    <div class="">
        <h1 class="text-2xl mb-8">Recipes</h1>

        <div class="flex">
            <div class="mb-4 mr-2 w-3/4">
                <search-bar :options="list"></search-bar>
            </div>

            <div class="w-1/4 ml-2">
                <sort-by></sort-by>
            </div>
        </div>

        <div class="flex flex-wrap -mx-4 mb-12">
            <recipe-card v-for="(recipe, index) in filteredRecipes" :key="index+recipe.title"
                         :recipe="recipe"
                         class="p-4"></recipe-card>
        </div>

        <div class="flex ">
            <pagination></pagination>
        </div>
    </div>
</template>

<script>
    import RecipeCard from '../../components/RecipeCard';
    import Pagination from '../../components/recipes/Pagination';
    import SearchBar from '../../components/search/SearchBar';
    import SortBy from '../../components/forms/SortBy';
    import {mapState, mapGetters} from 'vuex';

    export default {
        middleware: 'authenticated',
        components: { RecipeCard, SearchBar, SortBy, Pagination },
        data(){
            return {
                // recipes: [1,2, 3, 4]
            }
        },
        computed: {
            ...mapGetters('recipes', [
                'filteredRecipes'
            ]),
            ...mapState('recipes',[
                'list'
            ]),
            ...mapState('user',[
                'token'
            ])
        },
        mounted(){
            // this.$store.dispatch('recipes/getRecipes');

            // console.log('token', this.token)
        }
    }
</script>

<style scoped>

</style>
