
.home-page {
  color: #F5F5F5;
  padding: 20px;
  background: #333;

  .sub-text {
    color: red;
    font-size: 24px;
  }
}

.vs__dropdown-toggle {
  border: 1px solid #cbd5e0 !important;
}

.vs__dropdown-menu {
  border-left: solid 1px #cbd5e0!important;
  border-bottom: solid 1px #cbd5e0!important;
  border-right: solid 1px #cbd5e0!important;
}

.vs__dropdown-toggle,
.vs__dropdown-menu {
  background: #fff!important;
  border: none;
  color: #394066;
  @apply shadow;
}

.vs__search::placeholder {
  opacity: 0.8;
}

.style-chooser .vs__selected-options {
  input {
    padding-left: 30px;
  }
}

.style-chooser .vs__selected {
  padding-left: 30px;
}

.vs__clear,
.vs__open-indicator {
  fill: #394066;
}

.transition-all {
  transition: all .5s ease;

  &.-delay {
    transition-delay: .3s;
  }

  * {
    transition: all .5s ease;
  }
}



.vdp-datepicker {
  height: 35px;

  input {
    @apply border-gray-400 border rounded;
    padding: 5px;
    height: 35px;
  }
}
