body {
  font-family: Kollektif, Arial, sans-serif;
  line-height: 1.1em;
}

.font-1 {
  font-family: Kollektif, Arial, sans-serif;
}

.bg-main {
  background: #F0F0F0;
}

.bg-side-bar {
  background: #303030;
}

.nav-link {
  transition: all ease 0.3s;
  @apply py-4 pl-6 rounded-r-full w-full text-white flex items-center;
  font-weight: 500;

  &.nuxt-link-exact-active, &.active {
    background: rgba(238,242,246, 0.3);
  }
}

.dropdown-link {
  transition: all ease 0.2s;
  @apply px-6 py-2 block text-gray-800 text-sm font-semibold;

  &:hover {
    @apply bg-gray-300 text-black;
  }
}

.form-label {
  @apply block mb-2;
}

.bg-gradient-1 {
  transition: all ease 0.5s;
  background-image: linear-gradient(270deg, #60ADFA 0%, #4A71E1 100%);


  &:hover {
    opacity: 0.8;
  }
}


.bg-gradient-2 {
  background-image: linear-gradient(270deg, #60ADFA 0%, #4A71E1 100%);
}

.btn {
   &-primary {

     @apply px-4 py-2 text-center rounded-md shadow-sm inline-flex items-center border border-gray-100 leading-6 font-medium rounded text-gray-600 bg-white transition ease-in-out duration-150 cursor-pointer;

     &:active {
        @apply text-gray-800 bg-gray-50;
     }

     &:hover {
       @apply text-gray-500;

     }

     &:focus {
       @apply outline-none border-blue-300 ;
     }

  }
}

textarea {
  @apply border border-gray-400 w-full rounded p-4;
}

.text-input  {
  @apply border border-gray-400 rounded w-full py-2 px-3;
}

.add-btn {
  @extend .bg-gradient-1;
  @apply text-white cursor-pointer w-10 h-10 flex justify-center items-center text-3xl rounded-full;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.has-errors {
  input, textarea {
    @apply border;
    border-color: red !important;
  }
}

.vue__time-picker , .vue__time-picker input.display-time {
  width: 100% !important;
}

.flash-msg {
  position: fixed;
  bottom: 80px;
  left: 10%;
  right: 0;
  z-index: 100;
  width: 80%;
  height: 60px;
  @apply rounded-lg;
}

.ingredients-active {
  @apply bg-purple-400 text-white;
}

.patter-1 {
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23829ab1' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.25;

  &.offset-1 {
    transform: translate(-45%, 70%);
  }
}

.layout-enter-active, .layout-leave-active {
  transition: opacity .2s
}
.layout-enter, .layout-leave-active {
  opacity: 0
}

.calculator-modal {
  .v--modal-box.v--modal {
    overflow: visible !important;
  }
}
