.date-range-item {
  @apply text-center z-20 text-sm cursor-pointer transition-all duration-200 select-none;
  @apply text-gray-700;

  &.-range-selected {
    @apply text-white;
    transition-delay: .05s;
  }
}

.day-container {
  //width: calc(100%/7);
}
