<template>
    <div class="h-6" @mouseleave="mouseLeave">
        <div class="text-2xl flex text-yellow-500"
            :class="{'-disabled': disabled}">
            <div class="relative w-8 cursor-pointer"
                 v-for="star in stars"
                 @mouseover="mouseOver(star)" @click="setRating(star)">

                <i class="icon ion-ios-star-outline absolute"></i>

                <transition name="fade">
                    <i class="icon ion-ios-star absolute"
                        v-if="selected.includes(star)"></i>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddRating",
        props: ['disabled', 'recipe'],
        data(){
            return {
                selected:[],
                rating: '',
                stars:[1,2,3,4,5]
            }
        },
        methods: {
            setRating(val){
                this.rating = val

                this.$emit('update:rating', this.rating)

                this.setSelectArray(val);
            },
            mouseOver(val){
                this.setSelectArray(val);
            },
            mouseLeave(){
                this.setSelectArray(this.rating);
            },
            setSelectArray(val){
                if(val == 1){
                    this.selected = [1]
                } else if(val == 2) {
                    this.selected = [1, 2]
                } else if(val == 3){
                    this.selected = [1, 2, 3]
                } else if(val == 4){
                    this.selected = [1, 2, 3, 4]
                } else if(val == 5){
                    this.selected = [1, 2, 3, 4, 5]
                } else if(val == 0){
                    this.selected = []
                }
            }
        },
        mounted(){
            if(this.recipe){
                this.setRating(this.recipe);
            }
        }
    }
</script>

<style scoped>

    .-disabled {
        pointer-events: none;
    }

</style>
