<template>
    <div>
        <div class="mb-6">
            <add-rating @update:rating="recipe.rating = $event"></add-rating>
        </div>

        <div class="md:flex">
            <div class="w-full md:w-1/2 md:mr-2">
                <div class="mb-6">
                    <text-input text="Title"
                                placeholder="Enter Title"
                                class="bg-white shadow p-4 pb-6 "
                                :class="{'has-errors':hasErrors('title')}"
                                @update:title="recipe.title = $event"></text-input>

                </div>

                <div class="flex mb-6">
                    <div class="bg-white rounded shadow p-4 flex flex-col lg:flex-row w-full">
                        <div class="lg:w-1/2 flex flex-col items-start mb-4 lg:mb-0  lg:mr-2">
                            <label class="form-label">
                                Prep Time
                            </label>

                            <div class="flex w-full items-center"  :class="{'has-errors':hasErrors('prepTime')}">
                                <time-picker @update:time="recipe.prepTime = $event"></time-picker>

                                <i class="icon ion-md-time text-2xl"></i>
                            </div>
                        </div>

                        <div class="lg:w-1/2 flex flex-col items-start mb-4 lg:mb-0 lg:ml-2">
                            <label class="form-label">
                                Cook Time
                            </label>

                            <div class="flex w-full items-center"
                                 :class="{'has-errors':hasErrors('cookTime')}">
                                <time-picker @update:time="recipe.cookTime = $event"></time-picker>

                                <i class="icon ion-md-time text-2xl"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-6 flex">
                    <div class="w-full mr-2">
                        <text-input
                                :class="{'has-errors':hasErrors('servings')}"
                                class="bg-white shadow p-4 pb-6 "
                                text="Servings" placeholder="Enter servings pp"
                                @update:title="recipe.servings = $event"></text-input>
                    </div>
                </div>

                <div class="mb-6 h-48">
                    <input-textarea
                            :class="{'has-errors':hasErrors('description')}"
                            text="Description" placeholder="Enter Description"
                            @update:title="recipe.description = $event">
                    </input-textarea>
                </div>
            </div>

            <div class="w-full md:w-1/2 md:ml-2">
                <div class="mb-6 bg-white shadow p-4 pb-6 rounded ">
                    <ingredients-list-input @update="setIngredients"
                                            @delete="deleteIngredient"
                                            @reorder="reorderIngredients"
                                            :ingredients="recipe.ingredients"
                                            :class="{'has-errors':hasErrors('ingredients')}" >
                    </ingredients-list-input>
                </div>

                <add-method @update="setMethods" class="mb-6"
                            :class="{'has-errors':hasErrors('method')}">
                </add-method>

                <add-tags @update="setTags" class="mb-6"></add-tags>
            </div>
        </div>

        <div class="flex items-center justify-between">
            <button @click="submit"
                    class="bg-gradient-1 btn rounded-full hover:bg-blue-dark text-white
                    font-bold px-6 py-4 rounded" >
                Save
            </button>
        </div>

        <transition name="fade">
            <flash-msg :msg="errors.message" v-if="errors.showMsg"></flash-msg>
        </transition>
    </div>
</template>

<script>
    import TextInput from '../../components/forms/TextInput';
    import InputTextarea from '../../components/forms/InputTextarea';
    import TimePicker from '../../components/TimePicker';
    import AddRating from '../../components/recipes/AddRating';
    import AddMethod from '../../components/forms/AddMethod';
    import FlashMsg from '../../components/forms/FlashMsg';
    import AddTags from '../../components/forms/AddTags';
    import IngredientsListInput from '../../components/forms/IngredientsListInput';
    import {mapState} from 'vuex';
    export default {
        name: "AddRecipe",
        components: { FlashMsg, TextInput, AddRating, InputTextarea, IngredientsListInput, AddMethod, AddTags, TimePicker },
        data(){
            return {
                recipe: {
                    title: '',
                    description: '',
                    prepTime: '',
                    cookTime: '',
                    servings: '',
                    ingredients: [],
                    method:[],
                    tags: [],
                    rating: 0
                }
            }
        },
        methods: {
            submit(){
                this.$store.dispatch('recipes/addRecipe', this.recipe)
                        .then(()=>{
                            this.recipe.title = '';
                            this.recipe.description = '';

                            this.$router.push({ path: '/recipes' });
                        }).catch((err) => {
                            console.log('ERROR', err);
                        });
            },
            setIngredients(val){
                this.recipe.ingredients.push(val);
            },
            setMethods(val){
                this.recipe.method = val;
            },
            setTags(val){
                this.recipe.tags = val;
            },
            hasErrors(val){
                return this.errors.fields.hasOwnProperty(val)
            },
            deleteIngredient(index){
                this.recipe.ingredients.splice(index, 1);
            },
            reorderIngredients(list){
                console.log(list)

                this.recipe.ingredients = list;
            }
        },
        computed:{
            ...mapState('recipes',[
                'errors'
            ])
        }
    }
</script>

<style scoped>

</style>
