<template>
    <div>
        <div class="text-red-500 cursor-pointer" @click="toggleModal">
            Delete
        </div>

        <transition name="fade">
            <!--<div v-show="showModal" class="fixed top-0 left-0 w-screen h-screen text-lg-->
                    <!--text-black z-50 flex justify-center items-center">-->
                <!--<div class="bg-black opacity-25 w-full h-full absolute top-0"></div>-->

                <!--<div class="relative z-20 w-1/2 h-40 bg-gray-300-->
                        <!--border border-gray-500 shadow-lg-->
                        <!--rounded flex flex-col  justify-center items-center">-->
                    <!--<div class="mb-6">-->
                        <!--Are you sure you want to delete this recipe?-->
                    <!--</div>-->

                    <!--<div class="flex">-->
                        <!--<div @click="deleteRecipe" class="cursor-pointer mr-2 bg-green-400 text-white py-2 px-8 rounded-full flex justify-center items-center">Yes</div>-->

                        <!--<div @click="closeModal" class="cursor-pointer ml-2 bg-red-500 text-white py-2 px-8 rounded-full flex justify-center items-center">No</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->



            <div v-show="showModal" class="fixed bottom-0 inset-x-0 px-4 pb-4 sm:inset-0 sm:flex sm:items-center sm:justify-center">
                <div v-show="showModal" class="fixed inset-0 transition-opacity">
                    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>

                <div v-show="showModal" class="relative bg-white rounded-lg px-4 pt-5 pb-4 overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full sm:p-6">
                    <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
                        <button @click="closeModal" type="button" class="text-gray-400 hover:text-gray-500 focus:outline-none focus:text-gray-500 transition ease-in-out duration-150">
                            <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                            <svg class="h-6 w-6 text-red-600" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                            </svg>
                        </div>
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900">
                                Delete Recipe
                            </h3>
                            <div class="mt-2">
                                <p class="text-sm leading-5 text-gray-500">
                                    Are you sure you want to delete your recipe?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                      <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                        <button @click="deleteRecipe" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                            Delete
                        </button>
                      </span>
                                        <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                        <button @click="closeModal" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                          Cancel
                        </button>
                      </span>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "DeleteRecipe",
        props: ['recipe'],
        data(){
            return {
                showModal: false
            }
        },
        methods: {
            closeModal(){
                this.showModal = false;
            },
            deleteRecipe(){
                this.$store.dispatch('recipes/deleteRecipe', this.recipe)
                    .then(() =>{
                        this.$router.push({ path: '/recipes' });
                    });
            },
            toggleModal(){
                this.showModal = !this.showModal;
            }
        }
    }
</script>

<style scoped>

</style>
