<template>
    <div class="border border-gray-200 pb-0 mb-12 rounded">
        <div v-for="(ingredient, index) in ingredients"
             :class="{'bg-gray-200': index % 2 !== 0}">

            <div class="flex items-center px-4 py-2 border-gray-500">
                <span class="mr-2 w-10">
                    <!--{{calcAmount(ingredient.amount)}}-->

                    <span v-html="calcAmount(ingredient.amount)"></span>
                    <span v-if="ingredient.unit">{{ingredient.unit}}</span>
                </span>

                <span>
                    {{ingredient.name}}
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    import {EventBus} from '../../plugins/event-bus';
    import _ from 'lodash';

    export default {
        name: "Ingredients",
        props: {
            ingredients: {
                required: true
            },
            servings: {
                required: true
            }
        },
        data(){
            return {
                selected: 1,
                localServings: null
            }
        },
        methods: {
            isActive(val){
                return this.selected == val;
            },
            setActive(val){
                this.selected = val;
            },
            updateAmount(val){
                this.localServings = val;
            },
            calcAmount(amount){
                let scale = this.localServings / this.servings;

                let formatAmount = (amount * scale).toFixed(2).split('.');

                let fraction = this.formatRemainder(formatAmount[1]);

                return formatAmount[0] + ' ' + fraction;
            },
            formatRemainder(val){
                let fraction = _.round(val, -1);

                if(fraction > 50){
                    fraction = 50;
                }

                fraction = 100/fraction;

                if(val > 0){
                    return '<sup>1</sup>&frasl;<sub>'+fraction.toFixed(0)+'</sub>';
                } else {
                    return '';
                }
            }
        },
        mounted(){
            this.localServings = this.servings;

            EventBus.$on('updateServings', this.updateAmount);
        },
        destroyed(){
            EventBus.$off('updateServings', this.updateAmount);
        }

    }
</script>

<style scoped>

</style>
