<template>
    <div>
        <div v-for="item in info" class="mb-4">
           <div class="flex mb-2 justify-between">
               <div class="flex">
                   <div class="mr-4">
                       {{item.name}}
                   </div>

                   <div class="text-gray-400">
                       {{item.amount}}
                   </div>
               </div>

               <div class="text-gray-400">
                   {{item.percent}}
               </div>
           </div>

            <div class="w-full h-1 bg-gray-200 rounded-lg overflow-hidden">

                <div class="h-full" :style="{width: item.percent, background: item.color}"></div>

            </div>
        </div>


        <div>
            <div>Calories</div>

            <div class="flex items-center">
                <div class="mr-4 relative">
                    <div class="border-gray-400 border-2 rounded-full w-10 h-10"></div>
                    <div class="border-gray-500 border-4 rounded-full w-10 h-10 absolute top-0"></div>
                </div>

                <div>
                    1300 kal | 37%
                </div>
            </div>


        </div>

    </div>
</template>

<script>
    export default {
        name: "Nutrition",
        data(){
            return {
                info: [
                    {
                        name: 'Fats',
                        amount: '32g',
                        percent: '25%',
                        color: '#ff4f9b'
                    },
                    {
                        name: 'Protein',
                        amount: '32g',
                        percent: '55%',
                        color: '#2070ff'
                    },
                    {
                        name: 'Carbs',
                        amount: '12g',
                        percent: '15%',
                        color: '#23ff72'
                    }
                ]
            }
        }

    }
</script>

<style scoped>

</style>
