<template>
    <div class="relative inline-block text-left" v-on-clickaway="close">
        <div>
            <span class="rounded-md shadow-sm">
              <button @click="open = !open" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150">
                Options
                <svg class="-mr-1 ml-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
                </svg>
              </button>
            </span>
        </div>


        <transition
            enter-active-class="transition ease-out duration-100"
            leave-active-class="transition ease-in duration-75"
            enter-class="transform opacity-0 scale-95"
            enter-to-class="transform opacity-100 scale-100"
            leave-class="transform opacity-100 scale-100"
            leave-to-class="transform opacity-0 scale-95">


            <div v-if="open"
                 class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg">


                <div class="rounded-md bg-white shadow-xs">
                    <div class="py-1">
                        <nuxt-link :to="'/edit/' + recipe.id" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
                            Edit
                        </nuxt-link>
                    </div>

                    <div class="border-t border-gray-200"></div>

                    <div class="py-1">
                        <a href="#" @click="openDeleteModalRecipe" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </transition>



        <modal :name="'delete' + recipe.id"  height="auto" :pivotX="0.65" :classes="['rounded-lg', 'bg-white', 'p-4']">

            <div >
                <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4 ">
                    <button @click="closeModal" type="button" class="text-gray-400 hover:text-gray-500 focus:outline-none focus:text-gray-500 transition ease-in-out duration-150">
                        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
                <div class="sm:flex sm:items-start">
                    <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                        <svg class="h-6 w-6 text-red-600" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                        </svg>
                    </div>
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            Delete Recipe
                        </h3>
                        <div class="mt-2">
                            <p class="text-sm leading-5 text-gray-500">
                                Are you sure you want to delete your recipe?
                            </p>
                        </div>

                    </div>
                </div>
                <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                      <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                        <button @click="deleteRecipe" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                            Delete
                        </button>
                      </span>
                    <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                    <button @click="closeModal" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                      Cancel
                    </button>
                </span>
                </div>
            </div>
        </modal>

    </div>
</template>

<script>
    export default {
        name: "OptionsDropdown",
        props: ['recipe'],
        data(){
            return {
                open: false
            }
        },
        methods: {
            close(){
                this.open = false;
            },
            openDeleteModalRecipe(){
                    this.$modal.show('delete'+ this.recipe.id);
            },
            closeModal(){
                this.$modal.hide('delete'+ this.recipe.id);
            },
            deleteRecipe(){
                this.$store.dispatch('recipes/deleteRecipe', this.recipe)
                    .then(() =>{
                        this.$router.push({ path: '/recipes' });
                    });
            }
        }
    }
</script>

<style scoped>

</style>
