<template>
    <div class="flex items-center">
        <div class="cursor-pointer">
            <div @click="increment" class="text-2xl rounded bg-blue-500 text-white h-6 w-6 flex items-center justify-center">
                <i class="icon ion-ios-add"></i>
            </div>
        </div>

        <div class="flex w-12 justify-center items-center mx-2">
            <div class="w-1/2 flex justify-center m-auto">
                <i class="icon ion-md-person text-xl"></i>
            </div>

            <div class="w-1/2 flex justify-center">
                {{currentServing}}
            </div>
        </div>

        <div class="cursor-pointer">
            <div @click="decrement"  class="text-2xl rounded bg-blue-500 text-white h-6 w-6 flex items-center justify-center  ">
                <i class="icon ion-ios-remove"></i>
            </div>
        </div>
    </div>
</template>

<script>
    import {EventBus} from '../../plugins/event-bus';
    export default {
        name: "Servings",
        props: {
            servings: {
                required: true
            },
            id: {
                required: true
            }
        },
        data(){
            return {
                currentServing: null
            }
        },
        methods: {
            increment(){
                this.currentServing++;

                EventBus.$emit('updateServings', this.currentServing);
            },
            decrement(){
                if(this.currentServing > 1){
                    this.currentServing--;
                    EventBus.$emit('updateServings', this.currentServing);
                }
            }
        },
        mounted(){
            this.currentServing = this.servings;
        }
    }
</script>

<style scoped>

</style>
