<template>
    <div></div>
</template>

<script>
    export default {
        name: "index",
        created(){
            this.$store.commit('user/CLEAR');

            // this.$store.dispatch('user/destroyToken')
            //     .then(()=>{
            //         this.$router.push({ path: '/' });
            //     });

            this.$auth.logout().then(() => {
                this.$router.push({ path: '/' });
            })
        }
    }
</script>

<style scoped>

</style>
