<template>
    <div>
        <div class="flex items-center mb-8">
            <h1 class="text-2xl mr-10 -mb-1">Edit Recipe</h1>

            <add-rating @update:rating="recipe.rating = $event" :recipe="recipe.rating"></add-rating>
        </div>

        <div class="md:flex">
            <div class="w-full md:w-1/2 md:mr-2">
                <div class="mb-6">
                    <text-input text="Title" placeholder="Enter Title"
                                :value="recipe.title"
                                class="bg-white shadow p-4 pb-6 "
                                :class="{'has-errors':hasErrors('title')}"
                                @update:title="recipe.title = $event"></text-input>

                </div>

                <div class="flex mb-6">
                    <div class="bg-white rounded shadow p-4 flex flex-col lg:flex-row w-full">
                        <div class="lg:w-1/2 flex flex-col items-start mb-4 lg:mb-0  lg:mr-2">
                            <label class="form-label">
                                Prep Time
                            </label>

                            <div class="flex w-full items-center"  :class="{'has-errors':hasErrors('prepTime')}">
                                <time-picker @update:time="recipe.prepTime = $event"
                                            :value="recipe.prep_time"></time-picker>

                                <i class="icon ion-md-time text-2xl"></i>
                            </div>
                        </div>

                        <div class="lg:w-1/2 flex flex-col items-start mb-4 lg:mb-0 lg:ml-2">
                            <label class="form-label">
                                Cook Time
                            </label>

                            <div class="flex w-full items-center"
                                 :class="{'has-errors':hasErrors('cookTime')}">
                                <time-picker @update:time="recipe.cookTime = $event"
                                             :value="recipe.cook_time"></time-picker>

                                <i class="icon ion-md-time text-2xl"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-6 flex">
                    <div class="w-full mr-2 bg-white rounded shadow p-4 ">
                        <text-input
                                :class="{'has-errors':hasErrors('servings')}"
                                text="Servings" placeholder="Enter servings pp"
                                :value="recipe.servings"
                                @update:title="recipe.servings = $event"></text-input>
                    </div>
                </div>

                <div class="mb-6 h-48 ">
                    <input-textarea
                            :class="{'has-errors':hasErrors('description')}"
                            :value="recipe.description"
                            text="Description" placeholder="Enter Description"
                            @update:title="recipe.description = $event"></input-textarea>
                </div>
            </div>

            <div class="w-full md:w-1/2 md:ml-2">
                <div class="mb-6 h-48 bg-white shadow p-4 pb-6 rounded mb-6 h-auto">
                    <ingredients-list-input @update="setIngredients"
                                            @reorder="updateList"
                                            @delete="updateList"
                                            :ingredients="recipe.ingredients"
                                            :class="{'has-errors':hasErrors('ingredients')}" >
                    </ingredients-list-input>
                </div>

                <add-method @update="setMethods" class="mb-6"
                            :method="recipe.method"
                            :class="{'has-errors': hasErrors('method')}">
                </add-method>

                <add-tags @update="setTags" :recipeTags="recipe.tags" class="mb-6"></add-tags>
            </div>
        </div>

        <div class="flex items-center justify-between">
            <button @click="submit"
                    class="btn-primary">
                Update
            </button>
        </div>

        <transition name="fade">
            <flash-msg :msg="errors.message" v-if="errors.showMsg"></flash-msg>
        </transition>
    </div>
</template>

<script>
    import TextInput from '../../components/forms/TextInput';
    import InputTextarea from '../../components/forms/InputTextarea';
    import TimePicker from '../../components/TimePicker';
    import AddRating from '../../components/recipes/AddRating';
    import AddMethod from '../../components/forms/AddMethod';
    import FlashMsg from '../../components/forms/FlashMsg';
    import AddTags from '../../components/forms/AddTags';
    import IngredientsListInput from '../../components/forms/IngredientsListInput';
    import {mapState} from 'vuex';
    export default {
        name: "AddRecipe",
        components: { FlashMsg, TextInput, AddRating, InputTextarea, IngredientsListInput, AddMethod, AddTags, TimePicker },
        async asyncData({ $axios, params }) {
            const recipe = await $axios.$get('/recipe/' +  params.id)
            return { recipe }
        },
        data(){
            return {
                recipe: {
                    title: '',
                    description: '',
                    prepTime: '',
                    cookTime: '',
                    servings: '',
                    ingredients: [],
                    method:[],
                    tags: [],
                    rating: 0
                }
            }
        },
        methods: {
            submit(){
                this.$store.dispatch('recipes/editRecipe', this.recipe)
                    .then(()=>{
                        this.$router.push({ path: '/recipes/'+this.recipe.id });
                    }).catch((err) => {
                    console.log('ERROR', err);
                });
            },
            setIngredients(val){
                this.recipe.ingredients.push(val);
            },
            updateList(val){
                this.recipe.ingredients = val;
            },
            setMethods(val){
                this.recipe.method = val;
            },
            setTags(val){
                this.recipe.tags = val;
            },
            hasErrors(val){
                return this.errors.fields.hasOwnProperty(val)
            }
        },
        computed:{
            ...mapState('recipes',[
                'errors'
            ])
        }
    }
</script>

<style scoped>

</style>
