<template>
    <div class="relative z-10">
        <!--<input type="text" class="text-input search shadow h-10" placeholder="Search">-->

        <i class="z-10 icon ion-ios-search absolute left-0 text-2xl ml-2 mt-1 text-purple-400"></i>

        <v-select class="style-chooser"
                  v-model="searchTerm"
                  placeholder="Search"
                  :options="listNames"
                  @input="selectEvent"></v-select>
    </div>
</template>

<script>
    import vSelect from 'vue-select'

    export default {
        name: "SearchBar",
        props: ['options'],
        components: {vSelect},
        data(){
            return {
                searchTerm: ''
            }
        },
        methods: {
            selectEvent(){
                this.$store.dispatch('recipes/setSearchTerm', this.searchTerm);
            }
        },
        computed: {
            listNames(){
                return  this.options.map((el) =>{
                    return el.title;
                })
            }
        }

    }
</script>

