<template>
    <div>
        <!--<div class="bg-main pb-20 flex">-->
            <!--<div class="nav-bar-container md:w-1/5 h-screen l-0 absolute top-0 md:relative z-50">-->
                <!--<nav-bar></nav-bar>-->
            <!--</div>-->

            <!--<div class="page-container w-full md:w-4/5 p-10 mt-16">-->
                <!--<action-bar></action-bar>-->
                    <!--<nuxt class="container mx-auto" />-->
            <!--</div>-->
        <!--</div>-->

        <div class="h-screen flex overflow-hidden bg-gray-50">
            <nav-bar-new></nav-bar-new>


            <div class="flex flex-col w-0 flex-1 overflow-hidden">
                <action-bar-new></action-bar-new>

                <main class="flex-1 relative z-0 overflow-y-auto py-6 focus:outline-none" tabindex="0" >
                    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                        <!-- Replace with your content -->
                        <div class="py-4">
                            <nuxt/>
                        </div>
                        <!-- /End replace -->
                    </div>
                </main>
            </div>

        </div>
    </div>
</template>

<script>
    import NavBar from '../components/NavBar';
    import NavBarNew from '../components/NavBarNew';
    import ActionBar from '../components/ActionBar';
    import ActionBarNew from '../components/ActionBarNew';

    export default {
        layoutTransition: {
            name: 'layout',
            mode: 'out-in'
        },
        components: { NavBar, ActionBar, NavBarNew, ActionBarNew },
        data(){
            return {
                load: true,

            }
        },
        mounted(){
            this.$store.dispatch('recipes/getRecipes');
            this.$store.dispatch('ingredients/fetchIngredients');
        }
    }
</script>

<style>

</style>
