<template>
    <div>
        <nuxt  />
    </div>
</template>

<script>
    import LandingPageNav from '../components/landing/LandingPageNav';

    export default {
        transition: {
            name: 'fade',
            mode: 'out-in'
        },
        name: "landing",
        components: {LandingPageNav},
    }
</script>

<style scoped>
    .container {
        max-width: 100%;
    }
</style>
