<template>
  <div class="container">
      <landing-page></landing-page>
  </div>
</template>

<script>
import axios from 'axios';
import { mapState, mapGetters } from 'vuex';
import UserCard from '../components/UserCard';
import LandingPage from '../components/landing/LandingPage';

export default {
    transition: {
        name: 'fade',
        mode: 'out-in'
    },
    layout: 'landing',
    components: {
        LandingPage,
        UserCard
    },
    async asyncData({ store }) {
        await store.dispatch('user/fetchUser');
    },
    computed:{
        ...mapState({
            user: state => state.user.currentUser
        }),
        ...mapGetters("user", [
            "loggedIn",
            // Here you can import other getters from the products.js
        ])
    }
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/

</style>
