<template>
    <div>
        <h1 class="text-2xl mb-8">Add Recipe</h1>
        <add-recipe class="mb-8"></add-recipe>
    </div>
</template>

<script>
    import AddRecipe from '../../components/recipes/AddRecipe';

    export default {
        name: "index",
        middleware: 'authenticated',
        components: { AddRecipe },
    }
</script>

<style scoped>

</style>
