<template>
    <div>
        <nav id="header" class="fixed w-full z-30 top-0 bg-white shadow text-black">

            <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">

                <div class="pl-4 flex items-center hidden sm:block">
                    <nuxt-link to="/" class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl">
                        <span class="text-black">
                            <img src="/img/logo-w-text-blue.svg" alt="">
                        </span>
                    </nuxt-link>
                </div>

                <div class="block sm:hidden pr-4">
                    <button id="nav-toggle" class="flex items-center p-1 text-orange-800 hover:text-gray-900">
                        <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                    </button>
                </div>

                <div class="flex justify-end items-center p-4" v-if="!$auth.loggedIn">
                    <nuxt-link to="/login"
                               class="text-gray-800 text-sm font-semibold mr-4">
                        Sign in
                    </nuxt-link>
                    <nuxt-link to="/register"
                               class="text-gray-800 text-sm font-semibold border border-gray-500 px-4 py-2 rounded-lg ">
                        Sign up
                    </nuxt-link>
                </div>
                <div v-else class="flex justify-end items-center p-4">
                    <nuxt-link to="/overview"
                               class="text-gray-800 border border-gray-500 py-4 px-8 rounded-full text-sm font-semibold mr-4">
                        Account
                    </nuxt-link>
                </div>

            </div>

            <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
        </nav>

    </div>
</template>

<script>
    export default {
        name: "LandingPageNav"
    }
</script>

<style scoped>

</style>
