<template>
    <div class="bg-white rounded shadow p-4">
        <div class="mb-6">
            Methods
        </div>

        <draggable v-model="steps" group="people" @start="drag=true" @end="updateList">
            <div v-for="(step, index) in steps" :key="step.id" class="flex flex-col mb-4 border-b border-gray-100" :class="{'cursor-move': steps.length > 1}">
                <div class="flex ">
                    <div class="mr-4 ">
                        <div class="">
                            {{index + 1}}.
                        </div>
                    </div>

                    <div  v-if="!step.edit"
                          class=""
                          v-html="step.content">
                    </div>
                    <div v-else class="w-full pb-12">
                        <!--<textarea v-model="steps[index].content" class="h-full"></textarea>-->
                        <rich-text @update:text="editStep"
                                   :index="index"
                                   :text="steps[index].content"></rich-text>
                    </div>
                </div>


                <div class="flex justify-end pt-2 text-sm z-20">
                    <div class="text-green-500 pr-4">
                        <i class="icon ion-md-create cursor-pointer"
                           @click="toggleEdit(index)"></i>
                    </div>

                    <div class="text-red-600">
                        <i class="icon ion-md-trash cursor-pointer"
                            @click="deleteStep(index)"></i>
                    </div>
                </div>
            </div>
        </draggable>

        <!--<textarea class="border border-gray-400 h-24 w-full rounded px-4 pt-2 mt-2"-->
                    <!--v-model="step"></textarea>-->

        <rich-text  @update:text="setStep"></rich-text>

        <div class="w-full flex justify-center">
            <div class="add-btn"
                @click="addStep">
                <i class="icon ion-md-add"></i>
            </div>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable';
    import RichText from './RichText';

    export default {
        name: "AddMethod",
        components: {
            draggable,
            RichText
        },
        props: ['method'],
        data(){
            return {
                step: '',
                steps: [
                        // {
                        //     content:'hello',
                        //     id:0,
                        //     edit: false
                        // }
                    ],
                drag: false
            }
        },
        methods: {
            addStep(){
                if(this.step.length > 0){
                    this.steps.push({
                        content:this.step,
                        id: this.step,
                        edit: false
                    });

                    this.$emit('update', this.steps);
                }

                this.step = '';
            },
            deleteStep(index){
                this.steps.splice(index, 1);
                this.$emit('update', this.steps)
            },
            toggleEdit(index){
                this.steps[index].edit = !this.steps[index].edit;
                this.$emit('update', this.steps)
            },
            updateList(){
                this.$emit('update', this.steps)
            },
            setStep(payload){
                this.step = payload.html;
            },
            editStep(payload){
                this.steps[payload.index].content = payload.html
            }
        },
        mounted(){
            if(this.method){
                this.steps = this.method
            }
        }
    }
</script>

<style scoped>

</style>
