<template>
    <div class="bg-white rounded p-4 shadow">
        <label class="form-label">
            Tags
        </label>

        <div class="flex mb-4">
            <input class="appearance-none border border-gray-400 rounded w-full py-2 px-3 mr-4 text-grey-darker"
                   v-model="tagText"
                   type="text"
                   @keyup.enter="addTag">

            <div>
                <div class="add-btn"
                     @click="addTag">
                    <i class="icon ion-md-add"></i>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap">
            <div v-for="(tag, index) in tags">
                <div class="flex
                            justify-center items-center mr-2 mb-2
                            bg-purple-100 border-gray-400 border rounded-full
                            py-1 px-4">
                    <span class="mr-2">
                        {{tag}}
                    </span>

                    <span class="text-2xl">
                        <i class="icon ion-ios-close cursor-pointer" @click="deleteTag(index)"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddTags",
        props: ['recipeTags'],
        data(){
            return {
                tags: [],
                tagText:''
            }
        },
        methods:{
            addTag(){
                if(this.tagText.length > 0){
                    this.tags.push(this.tagText);

                    this.$emit('update', this.tags);
                }

                this.tagText = '';
            },
            deleteTag(index){
                this.tags.splice(index, 1);
                this.$emit('update', this.tags);
            }
        },
        mounted(){
            if(this.recipeTags){
                this.tags = this.recipeTags;
            }
        }
    }
</script>

<style scoped>

</style>
