<template>
    <div class="bg-red-500 p-4 flash-msg text-white flex justify-between items-center">
            <span>{{msg}}</span>

        <span class="text-3xl cursor-pointer" >
            <i class="icon ion-ios-close-circle" @click="closeError"></i>
        </span>
    </div>
</template>

<script>
    export default {
        name: "FlashMsg",
        props: ['msg'],
        methods:{
            closeError(){
                this.$emit('close');
                this.$store.commit('recipes/CLEAR_ERRORS');
            }
        }
    }
</script>

<style scoped>

</style>
