<template>
    <div class="h-full">
        <div class="mb-4">Add Ingredient</div>

        <div class="mb-4">
            <draggable v-model="list" group="list" @start="drag=true" @end="updateList">
                <div v-for="(item, index) in list"
                     :key="index + item.name"
                     class="flex bg-gray-200 p-4 mb-4 border border-gray-400 cursor-move">
                    <div class="w-1/3">
                            {{item.amount}}
                        <span v-if="item.unit">{{item.unit}}</span>
                    </div>

                    <div class="w-full">
                        {{item.name}}
                    </div>

                    <div>
                        <i class="icon ion-md-trash text-red-700 cursor-pointer"
                            @click="deleteItem(index)"></i>
                    </div>
                </div>
            </draggable>
        </div>

        <!--<input-textarea @update:title="updatedList"-->
                        <!--:value="text"-->
                        <!--text="Ingredients" placeholder="Add Ingredient">-->
            <!--Enter each ingredient on a new line-->
        <!--</input-textarea>-->


        <div class="flex items-center justify-between">
            <div class="pr-2 w-1/4">
                <div class="rounded">
                    <label class="form-label">
                        Amount
                    </label>

                    <input class="text-input"
                           type="text"
                           v-model="amount">
                </div>
            </div>

            <div class="pr-2 w-1/4">
                <div class="rounded">
                    <label class="form-label">
                        Unit
                    </label>

                    <v-select
                              :options="units"
                              label="title"
                              :value="unit"
                              @input="selectUnit"
                    ></v-select>
                </div>
            </div>

            <div class="pr-2 w-2/4">
                <!--<text-input text="Name" @update:title="name = $event"></text-input>-->

                <label class="form-label">Name</label>
                <v-select v-model="ingredient"
                          placeholder="Select Ingredient"
                          :options="allIngredients"
                          label="name"
                          @keyup="selectEvent"></v-select>
            </div>

            <div class="mt-4">
                <div class="add-btn"
                     @click="updatedList">
                    <i class="icon ion-md-add"></i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import TextInput from './TextInput';
    import { mapState } from 'vuex';
    import vSelect from 'vue-select';
    import draggable from 'vuedraggable'


    export default {
        name: "IngredientsListInput",
        props: ['ingredients'],
        components: { TextInput, vSelect, draggable },
        data(){
            return {
                amount: '',
                ingredient: {},
                list: [],
                unit: '',
                units:[
                    'tsb',
                    'tspb',
                    'cup',
                    'ml',
                    'cl',
                    'l',
                    'g',
                    'kg',
                ]
            }
        },
        methods: {
            updatedList(){
                this.$emit('update', {
                    ...this.ingredient,
                    amount: this.amount,
                    unit: this.unit
                });

                this.name = '';
                this.amount = '';
            },
            updateList(){
                this.$emit('reorder', this.list);
            },
            selectEvent(val){
                console.log(val);
            },
            deleteItem(index){
                this.list.splice(index, 1);
                this.$emit('delete', this.list);
            },
            selectUnit(val){
                this.unit = val;
            }
        },
        computed:{
        ...mapState('ingredients',{
                'allIngredients': state => state.ingredients
            })
        },
        mounted(){
            if(this.ingredients){
                this.list = this.ingredients;
            }

            if(this.allIngredients.length == 0) {

            }
        }
    }
</script>

<style scoped>

</style>
