<template>
    <div class="bg-white shadow p-4 pb-6 rounded h-full flex flex-col">
        <label class="form-label">
            {{text}}

            <div class="text-xs text-gray-700 font-normal">
                <slot></slot>
            </div>
        </label>


        <textarea class="appearance-none border border-gray-400 rounded w-full py-2 px-3 text-grey-darker h-full"
                type="text"
                :value="value"
                @keyup="update($event)"
                :placeholder="placeholder">
        </textarea>
    </div>
</template>

<script>
    export default {
        props: ['text', 'placeholder', 'value'],
        methods: {
            update(event){
                this.$emit('update:title', event.target.value);
                this.$emit('updated', event.target.value)
            }
        }
    }
</script>

<style scoped>

</style>
