<template>
    <div class="" @keydown.13="submit">
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm">
            <div>
                <input v-model="user.email"  aria-label="Email address" name="email" type="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Email address" />
            </div>
            <div class="-mt-px">
                <input v-model="user.password" aria-label="Password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Password" />
            </div>
        </div>

        <div class="mt-6 flex items-center justify-between">
            <div class="flex items-center">
                <input id="remember_me" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" />
                <label for="remember_me" class="ml-2 block text-sm leading-5 text-gray-900">
                    Remember me
                </label>
            </div>

            <div class="text-sm leading-5">
                <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                    Forgot your password?
                </a>
            </div>
        </div>

        <div class="mt-6">
            <button @click="submit" type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                      <span class="absolute left-0 inset-y pl-3">
                        <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400 transition ease-in-out duration-150" fill="currentColor" viewBox="0 0 20 20">
                          <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                        </svg>
                      </span>
                <span v-if="!loading">Sign In</span>

                <spinner :loading="loading" color="white"></spinner>
            </button>
        </div>

        <transition name="fade">
            <flash-msg :msg="hint" v-if="showError" @close="closeMsg"></flash-msg>
        </transition>
    </div>
</template>

<script>
    import FlashMsg from './FlashMsg';
    import Spinner from './Spinner';

    export default {
        name: "LoginForm",
        components: { FlashMsg, Spinner},
        data(){
            return {
                user: {
                    email: '',
                    password: '',
                },
                showError: false,
                hint: '',
                loading: false
            }
        },
        methods: {
            submit(){
                this.loading = true;

                this.$auth.loginWith('local', {
                    data: {
                        username: this.user.email,
                        password: this.user.password
                    }
                }).then(response => {
                    console.log('login response', response);
                    this.$router.push({ path: '/overview' });
                }).catch(error => {
                    this.hint = error.response.data.hint || 'Incorrect username or password';
                    this.showError = true
                })
            },
            closeMsg(){
                this.showError = false;
            }
        },
        computed:{
            loginMsg(){
                return 'Please check login details';
            }
        }
    }
</script>

<style scoped>

</style>
