<template>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">

        <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                Username
            </label>
            <input v-model="user.name" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="username" type="text" placeholder="Username">
        </div>

        <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                Email
            </label>
            <input v-model="user.email" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="email" type="text" placeholder="Username">
        </div>

        <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input v-model="user.password" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="password" type="password" placeholder="******************">
            <p class="text-red text-xs italic">Please choose a password.</p>
        </div>

        <div class="flex items-center justify-between">
            <button @click="submit"
                    class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" >
                Sign Up
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "RegisterForm",
        data(){
            return {
                user: {
                    name: '',
                    email: '',
                    password: ''
                }
            }
        },
        methods: {
             submit(){
                this.$store.dispatch('user/register', {
                    ...this.user
                }).then(() => {
                    this.$router.push({ path: '/login' });
                })
            }
        }
    }
</script>

<style scoped>

</style>
