<!-- You can custom the "myQuillEditor" name used to find the quill instance in current component -->
<template>
    <!-- bidirectional data binding（双向数据绑定） -->
    <div class="quill-editor font-1 text-base"
         :content="content"
         @change="onEditorChange($event)"
         v-quill:myQuillEditor="editorOption">
    </div>

</template>

<script>
    export default {
        props: ['text', 'index'],
        data() {
            return {
                content: '',
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline'],
                        ]
                    }
                }
            }
        },
        methods: {
            onEditorChange(event) {
                if(this.index && this.index.length){
                    console.log(this.index, this.index.length)
                }


                this.$emit('update:text',{
                    html: event.html,
                    index: this.index

                })
            }
        },
        mounted(){
            if(this.text) {
                this.content = this.text;
            }
        }
    }
</script>
