<template>
    <div>
        <v-select v-model="sortBy"
                  placeholder="Sort By"
                  :options="sortList"
                  label="name" :reduce="item => item.id"
                  @input="selectEvent"></v-select>
    </div>
</template>

<script>
    import vSelect from 'vue-select'

    export default {
        name: "SortBy",
        components: {vSelect},
        data(){
            return {
                sortBy: '',
                sortList: [
                    {
                        id: 'asc',
                        name:'New - Old'
                    },
                    {
                        id: 'desc',
                        name:'Old - New'
                    },
                    {
                        id: 'rating-asc',
                        name:'Rating Hi - Lo'
                    },
                    {
                        id: 'rating-desc',
                        name:'Rating Lo - Hi'
                    }
                ]
            }
        },
        methods: {
            selectEvent(val){
                this.$store.commit('recipes/SORT_RECIPES', val)
            }
        }
    }
</script>

<style scoped>

</style>
