<template>
    <div class="loader">
        <scale-loader :loading="loading" :width="3" :height="15" :radius="0"  :color="color"></scale-loader>
    </div>
</template>

<script>
    import { ScaleLoader } from '@saeris/vue-spinners'

    export default {
        name: "Spinner",
        components: { ScaleLoader },
        props:{
            loading:{
                default: true
            },
            color: {
                default: '#000'
            }
        }
    }
</script>

<style scoped>

</style>
