<template>
    <div class="rounded">
        <label class="form-label">
            {{text}}
        </label>

        <input class="text-input"
               type="text"
               :value="value"
               @keyup="update($event)"
               :placeholder="placeholder">
    </div>
</template>

<script>
    export default {
        name: "TextInput",
        props: ['text', 'placeholder', 'value'],
        methods: {
            update(event){
                this.$emit('update:title', event.target.value)
            }
        }
    }
</script>

<style scoped>

</style>
